{% extends 'base.html' %}
{% block title %}Adminpanel{% endblock %}
{% load static %}
{% block content %}

	<section id="admin">
		<div class="container">
			<div class="admin">
				<div class="row">
					<div class="col-md-2 dec">
						<div class="accaunt__left">
							<div class="accaunt__ava fic">
								<img src="{% static 'img/avatars/1.svg' %}" alt="avatar" class="accaunt__ava_img">
								<span class="accaunt__ava_name">Администратор</span>
							</div>
							<div class="accaunt__settings fic">
								<a href="#" class="accaunt__settings_intro">Изменить профиль</a>
								<a href="#" class="accaunt__settings_out">Выйти</a>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="admin__main">
							<div class="admin__title">Главная</div>
							<hr class="hr">
							<div class="admin__main_block">
								<div class="admin__main_block__items">
									<div class="admin__main_monthPrise admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Сумма оплат за все время</div>
										<div class="admin__main_monthPrise__sum">{{costs}} рублей</div>
									</div>
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Оплаченных заказов за все время</div>
										<div class="admin__main_monthPrise__sum">{{total_payment_orders}}</div>
									</div>
								</div>
								<div class="admin__main_block__items">
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Всего заказов за все время</div>
										<div class="admin__main_monthPrise__sum">{{total_orders}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> 
	{% endblock %}