{% load static %}
<div class="accordion__block fic">
	<div class="accordion__block_elems fic">
		<img src="{% static 'img/masters/avatar/all.svg' %}" alt="avatar" class="accordion__block_img">
		<div class="accordion__block_master">Любой мастер</div>
	</div>
</div>
{% for master in masters %}
<div class="accordion__block fic" master_id="{{ master.id }}">
	<div class="accordion__block_elems fic">
		<img src="{{ master.image.url }} " alt="avatar" class="accordion__block_img">
		<div class="accordion__block_master">{{ master.master_firstname }} {{ master.master_lastname }}</div>
	</div>
	<div class="accordion__block_prof">{{ master.specialization }} </div>
</div>
{% endfor %}
