{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="serviceFinally">
		<div class="container">
			<div class="serviceFinally">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="breadCrumbs">
							<a href="{% url 'index' %}" class="breadCrumbs__item">На главную</a>
						</div>
						<div class="service__block">
							<h1 class="service__title">Готово!</h1>
						</div>
							<div class="serviceFinally__form_block">
								<div class="serviceFinally__form_header fic">
									<span class="serviceFinally__form_header__number">Запись №{{ order.id }}</span>
									<div class="serviceFinally__form_header__item fic">
										<div class="serviceFinally__form_header__service">{{ order.salon.name }}</div>
										<div class="serviceFinally__form_header__address">{{ order.salon.address }}</div>
									</div>
								</div>
								<div class="serviceFinally__form_content__block fic">
                                    <div class="serviceFinally__form_content__title">{{ order.service.name }}</div>
                                    <div class="serviceFinally__form_content__price">Стоимость: {{ order.price }} ₽</div>
                                </div>
                                <div class="serviceFinally__form_content__block fic">
                                    <div class="serviceFinally__form_content__items fic">
                                        <img src="{{ order.master.image.url }}" alt="avatar" class="accordion__block_img">
                                        <div class="accordion__block_master">{{ order.master.master_firstname }} {{ order.master.master_lastname }}</div>
                                    </div>
                                    <div class="serviceFinally__form_content__item fic">
                                        <div class="serviceFinally__form_content__time">Время: {{ time }}</div>
                                        <div class="serviceFinally__form_content__date">Дата: {{ day }}.{{ month }}.{{ year }}</div>
                                    </div>
                                </div>
                                <div class="serviceFinally__form_content__block fic">
                                    <div class="serviceFinally__form_header__item fic">
										<div class="serviceFinally__form_header__service">Ваше имя</div>
										<div class="serviceFinally__form_header__address">{{ order.client_firstname }}</div>
									</div>
                                </div>
                                <div class="serviceFinally__form_content__block fic">
                                    <div class="serviceFinally__form_header__item fic">
										<div class="serviceFinally__form_header__service">Контактный телефон</div>
										<div class="serviceFinally__form_header__address">{{ order.client_phonenumber }}</div>
									</div>
                                </div>
							</div>
							<div class="serviceFinally__form_itesm">
								<a href="{% url 'make_order' %}"><button class="serviceFinallys__form_btn">Записаться на другие услуги</button></a>
							</div>
					</div>
					<div class="col-md-12 col-lg-5">
						<img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
