{% extends 'base.html' %}
{% block title %}Successapplication{% endblock %}
{% load static %}
{% block content %}
	<section id="banner">
		<div class="container">
			<div class="banner">
				<div class="row">
					<div class="col-md-10 col-lg-7 col-xl-6">
						<div class="banner__block">
							<h1 class="banner__title">Ваш отзыв <span class="yellow banner__title_discount">принят!</span></h1>
						</div>
					</div>
					<div class="col-md-12 col-lg-5">
						<img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
